.button{
    background: rgb(9, 138, 243) ;
    border: none;
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    font-weight: 300;
    font-size: $m-size;
    margin-bottom: $s-size;
}

.button--link{
    background: none;
    position: absolute;
    text-align: right;
    right: 10%;
    
    
}
.button--remove{
    @extend .button;
    background: rgb(87, 82, 82) ;

}